@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

* {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(234, 237, 237);
}
